<section class="branches-page">
  <header class="branches-header">
    <div>
      <h2>Gestión de Sucursales</h2>
      <p>Administra las ubicaciones físicas del restaurante</p>
    </div>

    <button
      type="button"
      class="add-branch-button"
      (click)="openCreateBranchForm()"
    >
      <span>+</span>
      Nueva Sucursal
    </button>
  </header>

  <app-branch-list
    [branches]="branches"
    (editBranch)="openEditBranchForm($event)"
  />

  <app-owner-modal
    *ngIf="showBranchForm"
    [title]="modalTitle"
    [subtitle]="modalSubtitle"
    (closeModal)="closeBranchForm()"
  >
    <app-branch-form
      [saving]="creatingBranch || updatingBranch"
      [branch]="selectedBranch"
      (createBranch)="onCreateBranch($event)"
      (updateBranch)="onUpdateBranch($event)"
    />
  </app-owner-modal>
</section>